@font-face {
    font-family: 'taleswords-icons';
    src: url('../assets/fontello-63b11ae8/font/taleswords-icons.woff2') format('woff2'),
         url('../assets/fontello-63b11ae8/font/taleswords-icons.woff') format('woff'),
         url('../assets/fontello-63b11ae8/font/taleswords-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "taleswords-icons";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icon definitions */
.icon-cancel:before { content: '\e800'; }
.icon-login:before { content: '\e801'; }
.icon-down-dir:before { content: '\e802'; }
.icon-up-dir:before { content: '\e803'; }
.icon-cog:before { content: '\e804'; }
.icon-logout:before { content: '\e805'; }
.icon-ok:before { content: '\e806'; }
.icon-search:before { content: '\e807'; }
.icon-attention:before { content: '\e808'; }
.icon-edit:before { content: '\e809'; }
.icon-trash-empty:before { content: '\e80a'; }
.icon-users:before { content: '\e80b'; }
.icon-globe:before { content: '\e80c'; }
.icon-info-circled:before { content: '\e80d'; }
.icon-attention-circled:before { content: '\e80e'; }
.icon-help-circled:before { content: '\e80f'; }
.icon-cancel-circled2:before { content: '\e810'; }
.icon-ok-circled2:before { content: '\e811'; }
.icon-plus:before { content: '\e812'; }
.icon-pencil:before { content: '\e813'; }
.icon-chat:before { content: '\e814'; }
.icon-picture:before { content: '\e815'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-plus-squared:before { content: '\f0fe'; }
.icon-spinner:before { content: '\f110'; }
.icon-minus-squared:before { content: '\f146'; }
.icon-level-up:before { content: '\f148'; }
.icon-level-down:before { content: '\f149'; }
.icon-ok-squared:before { content: '\f14a'; }
.icon-dollar:before { content: '\f155'; }
.icon-left:before { content: '\f177'; }
.icon-right:before { content: '\f178'; }
.icon-apple:before { content: '\f179'; }
.icon-android:before { content: '\f17b'; }
.icon-dot-circled:before { content: '\f192'; }
.icon-cubes:before { content: '\f1b3'; }
.icon-file-image:before { content: '\f1c5'; }
.icon-toggle-off:before { content: '\f204'; }
.icon-toggle-on:before { content: '\f205'; }
.icon-diamond:before { content: '\f219'; }
.icon-user-plus:before { content: '\f234'; }
.icon-user-times:before { content: '\f235'; }
.icon-question-circle-o:before { content: '\f29c'; }

